*.class

# Package Files #
*.war
*.ear
/session02/code/JavaMVC/nbproject/private/
/session02/code/RESTService/nbproject/private/
/session02/code/RESTService/build/
/session02/code/JavaWebService/nbproject/private/
/session02/code/JavaWebService/build/
/session02/code/JavaWebService/dist/
/session02/code/JavaWebServiceNetbeans/build/
/session02/code/JavaWebServiceNetbeans/nbproject/private/
/session02/code/JavaWebServiceNetbeans/dist/
/session02/code/CalculatorWSApplication/build/
/session02/code/CalculatorWSApplication/nbproject/private/
/session02/code/CalculatorWSJSPClient2/build/
/session02/code/CalculatorWSJSPClient2/nbproject/private/
/session02/code/CalculatorWSServletClient/build/
/session02/code/CalculatorWSServletClient/nbproject/private/
/session02/code/CalculatorWS_Client_Application/build/
/session02/code/CalculatorWS_Client_Application/nbproject/private/
/session02/code/CustomerDB/build/
/session02/code/CustomerDB/nbproject/private/
/session02/code/TestApp/build/
/session02/code/TestApp/nbproject/private/
/session02/code/WebServicesTest/build/
/session02/code/WebServicesTest/nbproject/private/
